.lola {
  background: url('../../assets/images/gameboards/lola.png');
}

.homer {
  background: url('../../assets/images/gameboards/homer.png');
}

.marge {
  background: url('../../assets/images/gameboards/marge.png');
}

.wilma {
  background: url('../../assets/images/gameboards/wilma.png');
}

.barney {
  background: url('../../assets/images/gameboards/barney.png');
}

.marge2 {
  background: url('../../assets/images/gameboards/marge2.png');
}

.olive-oil {
  background: url('../../assets/images/gameboards/olive-oil.png');
}

.card1 {
  background: url('../../assets/images/cards/1.png');
}

.card2 {
  background: url('../../assets/images/cards/2.png');
}

.card3 {
  background: url('../../assets/images/cards/3.png');
}

.card4 {
  background: url('../../assets/images/cards/4.png');
}

.card5 {
  background: url('../../assets/images/cards/5.png');
}

.card6 {
  background: url('../../assets/images/cards/6.png');
}

.card7 {
  background: url('../../assets/images/cards/7.png');
}

.card8 {
  background: url('../../assets/images/cards/8.png');
}

.card9 {
  background: url('../../assets/images/cards/9.png');
}

.card10 {
  background: url('../../assets/images/cards/10.png');
}

.card11 {
  background: url('../../assets/images/cards/11.png');
}

.card12 {
  background: url('../../assets/images/cards/12.png');
}

.gameboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin-top: 25px;
}

.gameboard {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-bottom: 10px;
}

.gameboard-title {
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.gameboard-tile {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  /* transition: background 1s; */
}

.gameboard-tile.shake {
  animation: shake .5s;
}

.gameboard-controls {
  height: 20px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
