.option-scroller {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  width: 180px;
  overflow: hidden;
}

.option-scroller button {
  width: 35px;
  font-weight: bold;
  z-index: 1;
}

.selected-option-label {
  text-align: center;
  width: 110px;
  font-weight: 300;
  z-index: 0;
}

.selected-option-label.hidden-left {
  transform: translateX(-100%);
}

.selected-option-label.hidden-right {
  transform: translateX(100%);
}

.selected-option-label.exit-left {
  animation: exit-left .3s forwards;
}

.selected-option-label.exit-right {
  animation: exit-right .3s forwards;
}

.selected-option-label.enter-from-left {
  animation: enter-from-left .3s forwards;
  /* animation-delay: .65s; */
}

.selected-option-label.enter-from-right {
  animation: enter-from-right .3s forwards;
  /* animation-delay: .65s; */
}

@keyframes exit-left {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}

@keyframes exit-right {
  0% {transform: translateX(0);}
  100% {transform: translateX(100%);}
}

@keyframes enter-from-left {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}

@keyframes enter-from-right {
  0% {transform: translateX(100%);}
  100% {transform: translateX(0);}
}
