.option-scroller {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.option-scroller button {
  height: 30px;
  width: 75px;
  font-weight: bold;
}

.selected-option-label-container {
  width: 150px;
  overflow: hidden;
}

.selected-option-label {
  text-align: center;
  font-weight: 300;
  padding: 0 25px;
}

.selected-option-label.hidden-left {
  transform: translateX(-100%);
}

.selected-option-label.hidden-right {
  transform: translateX(100%);
}

.selected-option-label.exit-left {
  animation: exit-left .3s forwards;
}

.selected-option-label.exit-right {
  animation: exit-right .3s forwards;
}

.selected-option-label.enter-from-left {
  animation: enter-from-left .3s forwards;
}

.selected-option-label.enter-from-right {
  animation: enter-from-right .3s forwards;
}

@keyframes exit-left {
  0% {transform: translateX(0);}
  100% {transform: translateX(-100%);}
}

@keyframes exit-right {
  0% {transform: translateX(0);}
  100% {transform: translateX(100%);}
}

@keyframes enter-from-left {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}

@keyframes enter-from-right {
  0% {transform: translateX(100%);}
  100% {transform: translateX(0);}
}
