.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: calc(var(--vh, 1vh) * 95);
  width: 95vw;
  max-height: 800px;
  max-width: 800px;
}

.preload {
  display: none;
}
