.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('../../assets/images/clouds_background.png');
  height: 100%;
  width: 100%;
  font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
  font-weight: bold;
  user-select: none;
}

.start-title {
  font-size: 30px;
  margin-bottom: 50px;
}

.start-game-button {
  height: 80px;
  width: 250px;
  margin-bottom: 50px;
  font-weight: bold;
}

.board-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-selector-label {
  margin-bottom: 10px;
}
